@import 'tailwindcss';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'flowbite/dist/flowbite.css';

.custom-btn {
  @apply border hover:cursor-pointer rounded-2xl h-8 w-8 p-1;
}

body,
html,
#root {
  height: 100%;
  width: 100% !important;
}

#root {
  display: flex;
  flex-direction: column;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@theme {
  --breakpoint-xl: 1240px;
  --breakpoint-2xl: 1750px;
  --breakpoint-3xl: 2350px;
}

/* @theme {
  --animate-drops: drop 0.2s ease-in-out;
}

@keyframes drop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */
